@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css);

.test{
    color: blue;
    background-color: red;
    font-family: 'Inter', system_ui, sans-serif;
}

button{
    height: 60px;
    width: 120px;
    padding: 20px;
    border: 2px solid red;
    margin-left: 50px;
}